@charset "utf-8";
@import url("default_1.css");
<STYLE type="text/css">

        /* Normalize */
        html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        body { margin: 0; background-color: #f7f7f7; }
        a { color: #4089db } a:focus { outline: thin dotted; } a:active, a:hover { outline: 0; }
        strong { font-weight: bold; } small { font-size: 80%; }
        input { font-family: inherit; font-size: 15px; margin: 20px; }
        input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
        input::-moz-focus-inner { border: 0; padding: 0; }
        ul { margin: 0; }

        #header
        {
            height: 40px;
            background: url("bgimg.jpg") 0 0 repeat-x;
            width: 100%;
        }
        .container
        {
            padding: 20px;
            margin: 20px auto 0 auto;
            font-size: 14px;
            text-align: left;
            background-color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        small
        {
            font-size: 70%;
            color: #7c7c7c;
        }

        label
        {
            display: block;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 5px;
            color: #404040;
        }

        hr
        {
            background-color: #bababa;
            height: 1px;
            border: 0;
        }

        input
        {
           	/* You can set width to whatever you like */    
	width: 250px;   
    height:12px; 
	font-family: 'Times New Roman', Times, serif;  
	font-size: 16px;    
	margin: 0;    
	padding: 8px 8px 6px 8px;    
	position: relative;
	display:block; 
	outline: none;
	border:border-box;    
    border-radius:20px;
	background-size: 1px 6px, 1px 1px, 1px 6px; 
	align:center;
	text-align:center;
        }
		textarea
			{
				        	/* You can set width to whatever you like */    
	 width: 100%;
	font-family:'Times New Roman', Times, serif; 
	font-size: 16px;    
	margin: 0;    
	padding: 8px 8px 6px 8px;    
	position: relative;    
	display: block;    
	outline: none;    
	border:border-box;
    border-radius: 20px;
	background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;    
	background-size: 1px 6px, 1px 1px, 1px 6px; 
	align:center;
	text-align:center;
			}
				
		label
			{
				font-weight: bold;
                color:rgb(12, 4, 248);
			}

        .submit
        {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            padding: 0 5px;
            margin-top: 10px;
            color: #ffffff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            text-decoration: none;
            border: 0;
            background-color: #6bc135;
            background-image: -moz-linear-gradient(top, #a0e71b, #41af00);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0e71b), to(#41af00));
            background-image: -webkit-linear-gradient(top, #a0e71b, #41af00);
            background-image: -o-linear-gradient(top, #a0e71b, #41af00);
            background-image: linear-gradient(to bottom, #a0e71b, #41af00);
            background-repeat: repeat-x;
        }

        .submit:hover
        {
            -webkit-box-shadow: inset rgba(192, 234, 53, 0.75) 0 0 10px;
            -moz-box-shadow: inset rgba(192, 234, 53, 0.75) 0 0 10px;
            box-shadow: inset rgba(192, 234, 53, 0.75) 0 0 10px;
        }

        .submit:active
        {
            -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        .alert, .err_r
        {
            display: block;
            position: relative;
            padding: 4px;
            margin-bottom: 5px;
            font-size: 12px;
            color: #930B0D;
            text-align: left;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            background-color: #FEBEBE;
            border: 1px solid #e62b38;

            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .login_banner, .account_management
        {
            background-color: #EDFFE7;
            padding: 10px;
            border: solid 1px #bababa;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .account_management
        {
            margin-bottom: 10px;
        }
		.gender
			{
			width:12x;
			height:10px;
			
			}

        @media all and (min-width: 1024px)
        {
            .container
            {
	width: 80%;
            }
        }

    .maboutme {
	font-family: "Comic Sans MS", cursive;
	font-size: 10px;
	background-color: #CCC;
	position: relative;
	cursor: auto;
	border-bottom-style: none;
	width: 93%;
	height: 4cm;
}

/* Social media links styles */
.social-links {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.social-links a {
  display: inline-block;
  margin: 0 10px; /* Adjust margin as needed */
}

.social-links img {
  width: 30px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}
#box {
    background-color: #4089db;
    height: 10px;
    width: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom-left-radius:10px;
}
</STYLE>/* CSS Document */
